* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: #55a9e0;
    background-image: url(./img/ALI.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 100vh;
    
}

.translate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
  }

  .logo {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }