* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: #55a9e0;
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 100vh;
    
}

.translate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
  }

  .logo {
    height: -100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button{
      background-color: #035AA6;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 12px;
  }