body {
    background-color: #55a9e0;
    background-image: url(./img/background.PNG);
    background-repeat: no-repeat;
    background-size: 117%;
    background-position: bottom;
    margin-bottom: 61%;
    
}

.translate {
    display: flex;
    justify-content: center;
  

    display: flex;
    align-items: center;
    justify-content: center;
  }
