* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  html {
      height: 100vh;
  }
  
  body {
      background-color: #55a9e0;
      background-image: url(../img/background.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: bottom;
      height: 100vh;
      
  }
  .card {
    border-radius: 16px;
    width: 1750px;
    height: 750px;
    background-color: #82ccfde0;
   
  }

  .center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

    
    a {
      display: block;
      padding: 8px;
      background-color: #3282B8;
   }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #035AA6;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    
    .buttons {
      display: flex;
    }
    
    li a {
      display: block;
      color: #ffffff;
      text-align: center;
      padding: 18px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #BBE1FA;
      color: #000000;
    }

    .active {
background-color: #000000;
color: #8ECEF8;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 18px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
  background-color: #3282B8;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #8ECEF8;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

